
body{
    background-color: #12b715;
    color: #ffff;
    height: 100vh;

}
.main{
    display: flex;
    justify-content: space-between;
  
}
nav  {
    padding: 10px;
    position: absolute;
}
nav ul li {
    display: inline-block;
    padding: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 22px;
    font-family: 'Saira Condensed', sans-serif;
    position: relative;
}
nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    border-bottom: 2px solid #fff;
    transition: 0.3s linear;
    width: 0%;
}
nav ul li a:hover:before {
    width: 100%;
}

.left{
    margin: 15% 8%;
    width: 40%;
}
.left h1{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    
}
.left span{
    color: rgb(215, 207, 210);
}
.left p{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}
.left a{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 22px;
    text-decoration: none ;
    color: #fafafa;
    border-radius: 8px;
    background-color: rgb(30, 18, 22);
    padding: 8px 15px;
}
.left a:hover{
    font-size: 26px;
    transition: 0.5s;
    box-shadow: 0px 0px 10px #999;
}


.right{
    background-color: #0a4576;
    clip-path: polygon(73% 0, 100% 0%, 100% 100%, 0% 100%);
    height: 100vh;
    width: 60%;
    
}
.img{
    position: absolute;
    left: 50%;
    top: 10%;
    
}